html { 
    background: url(../img/min.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

.chat {
    
}

.rce-mlist {
    max-height: 82vh;
}